body {
    background-color: rgb(0, 25, 31);
}

div {
    border:1px solid rgba(250, 174, 32, 0.651);
    margin:10px;
}

li {
    padding:10px;
    font-size:18px;
}

#main-container {
    border:none;
    margin:none;
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
}

/* LEFT CONTAINER */
#left-container {
    flex-grow:3;
}

/* TIMER */
#timer-container {
    border:none;
    display:block;
    min-height: 30%;
}

#timer-buttons {
    border:none;
    display:flex;
    flex-grow:1;
    min-height: 40%;
    flex-direction: row;
    align-items: stretch;
}

#timer {
    flex:1;
    min-height: 40%;
}

#start-timer {
    flex:1;
}

#pause-timer {
    flex:1;
}

#stop-timer {
    justify-content: center;
    align-items: center;
    flex:1;
}

#timer-counter {
    flex:2;
}

/* MOOD TRACKER */
#mood-container {
    display:block;
    border: none;
    flex-grow:2;
    min-height: 40%;
}
#mood-buttons {
    display:flex;
    flex-direction: row;
    min-height: 40%;
    justify-content: center;
    align-items: stretch;
}

#mood-notes {
    min-height:60%;
}

/* SOMETHING TO LOOK FORWARD TO */
#hope-container {
    flex-grow:1;
    min-height: 25%;
}

/* RIGHT CONTAINER */
#right-container {
    flex-grow:2;
}

#daily-buttons {
    display:flex;
    border: none;
    flex-direction: row;
    min-height: 20%;
}

#todo-list {
    min-height:75%;
}