* {
    font-family: sans-serif;
}

div {
    border:1px solid rgba(250, 174, 32, 0.651);
    margin:10px;
}

li {
    padding:10px;
    font-size:18px;
}

#mainContainer {
    background-color: rgb(0, 25, 31);
    border:none;
    margin:none;
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
}

/* LEFT CONTAINER */
#leftContainer {
    flex-grow:3;
}

/* TIMER */
#timerContainer {
    border:none;
    display:block;
    min-height: 30%;
}

#timer {
    display:flex;
    flex-direction: row;
    flex:1;
}

#countdownTimer {
    flex:1;
    min-height:30px;
    color:rgb(230, 232, 230);
    font-size:40px;
    align-items: center;
    justify-content: center;
}

#timerCounter {
    display:flex;
    flex:1;
    color:rgb(230, 232, 230);
    font-size: 40px;
    flex-direction: row;
}

#sessionCount {
    flex:2;
}

#sessionDisplay {
    flex:1;
    align-items: baseline;
}

#timer-buttons {
    border:none;
    display:flex;
    flex-grow:1;
    min-height: 40%;
    flex-direction: row;
    align-items: stretch;
}

#timerControl {
    max-height:60px;
    flex:1;
}

#timer {
    flex:1;
    min-height: 40%;
}

#start-timer {
    flex:1;
}

#pause-timer {
    flex:1;
}

#stop-timer {
    justify-content: center;
    align-items: center;
    flex:1;
}

#timer-counter {
    flex:1;
}

/* MOOD TRACKER */
#moodContainer {
    display:block;
    border: none;
    flex-grow:2;
    min-height: 40%;
}
#mood-buttons {
    display:flex;
    flex-direction: row;
    min-height: 40%;
    justify-content: center;
    align-items: center;
}

#mood {
    flex:1;
    align-items: center;
    justify-content: center;
    max-height:60px;
}

#mood-notes {
    min-height:60%;
}

/* SOMETHING TO LOOK FORWARD TO */
#hopeContainer {
    flex-grow:1;
    min-height: 25%;
}

/* RIGHT CONTAINER */
#rightContainer {
    flex-grow:2;
}

#daily-buttons {
    display:flex;
    border: none;
    flex-direction: row;
    min-height: 20%;
    flex:1;
}

#daily {
    flex:1;
}

#todo-list {
    min-height:75%;
}